
.page-404 {
    background: linear-gradient(to bottom, #f6e7e6, #c6d8d6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .error-image {
    width: 300px;
    height: auto;
  }
  
  .error-message {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    color: #333;
  }
  

  .home-link {
    text-decoration: none;
  }
  
  .home-button {
    width: auto;
    background-color: #65b7b6;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .home-button:hover {
    background-color: #0cc5c2;
  }